body {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.container .jumbotron {
    border-radius: 30px;
}

.jumbotron {
  padding-top: 15px;
  padding-bottom: 25px;
  background-color: #EE4A41;
  color: white;
  margin-bottom: 20px;
  margin-top: 5px;
  margin-right: 17px;
  margin-left: 5px;
}

.jumbotron h2 {
  color: yellow;
}

h1, .h1, h2, .h2, h3, .h3 {

    margin-top: 8px;
    margin-bottom: 10px;

}

.panel-title {
  font-size: 20px;
  color: white;
}

.panel-info > .panel-heading {
  color: #EE4A41;
  background-color: #EE4A41;
  border-color: black;
}

.panel-heading {
  color: #EE4A41;
  background-color: #EE4A41;
  border-color: black;
  padding: 8px 15px;
  border-bottom: 2px solid transparent;
    border-bottom-color: transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 30px;
}

.panel-info {
  border-color: white;
  border-bottom-color: yellow;

}

.panel {
  margin-bottom: 12px;
}
